<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Carvajal.Properties.Settings.carvajalConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=carvajal;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Carvajal.Properties.Settings.carvajalConnectionWelcome"
            connectionString="Data Source=localhost;Initial Catalog=carvajal;Persist Security Info=True;User ID=carvajal;Password=carvajal"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>